/* ============ iPhone + Tiny Phones ============ */
/*Mobile First Base Styles*/

/*responsive circle resize*/
.circle {
  width: 33%;
  top: -22%;
  left: 34%;
}

.circle p:nth-child(2) {
  left: 10%;
  top: 15%;
  font-size: 350%;
}

/*Header*/

header {
  position: relative;
}

#logo a {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  float: left;
  position: absolute;
  top: 5%;
  left: 3%;
  font-family: monospace;
  color: white;
  margin: 0px;
  width: 50%;
  cursor: pointer;
}

header>a {
  text-decoration: underline;
  display: block;
  position: absolute;
  top: 7%;
  right: 5%;
  font-family: LatoLatin;
  text-transform: uppercase;
  color: #E0E0E0;
  margin: 0px;
  font-size: 65%;
}

header>span {
  display: block;
  position: absolute;
  font-family: LatoLatin;
  top: 4%;
  right: 1%;
  color: #E0E0E0;
  margin: 0px;
  font-size: 150%;
  text-transform: uppercase;
}


/*WHITE SECTION*/

#white {
  position: relative;
}

#white .header,
p,
button {
  text-align: center;
  text-transform: uppercase;
}

#white .header {
  margin: 9% 0% 2% 30%;
  font-size: 80%;
}

/*Crystal Palace*/


#title p {
  margin: -2% 0 0%;
  padding: 0;
  font-size: 250%;
  line-height: 95%;
}

#title p:nth-child(3) {
  font-size: 150%;
  margin-top: 0.5%;
}

/*Minimum Bets*/

#details {
  margin-top: 3%;
  margin-bottom: -1.5%;
  padding: 0;
  width: 100%;
}

#details p {
  line-height: 100%;
  font-size: 90%;
  padding: 0;
}

#details p:first-child {
  margin: 2% 1% 1% 0.5%;
}

#details p:nth-child(2) {
  margin-bottom: 1%;
}

#details span {
  font-size: 80%;
}


/*Form + Button*/

/*centering trick*/
#register {
  text-align: center;
  position: relative;
  z-index: 3;
  margin-bottom: -5%;

}

#register input button {
  display: block;
  position: absolute;
}

#register button {
  background: #61c900;
  color: white;
  border: none;
  text-decoration: none;
  position: relative;
  width: 70%;
  height: 100%;
  font-size: 150%;
}

#register input {
  border:
}

#register>p {
  position: relative;
  z-index: 3;
  color: white;
  font-size: 70%;
  margin-top: 1%;
}


/*list section*/

#list {
  padding-top: 0;
  padding-bottom: 10%;
  position: relative;
}

#list ol {
  position: relative;
  z-index: 3;
  top: -40%;
  margin: 0;
  list-style-type: none;
}

#list li {
  position: relative;
  margin: 0 0 5% 20%;
  font-size: 85%;
  font-family: LatoLatin
}

#list span {
  display: block;
}

#list li:first-child span:first-child {
  color: #ffcd00;
  border-bottom: 1px solid;
  padding-bottom: 0.2px;
  display: inline-block;
}





/* terms section */

#terms {
  background: #054179;
}

#terms p {
  color: #8eabc1;
  font-size: 65%;
  margin: auto;
  text-align: center;
  padding: 0 1%;
}

#terms p:first-child {
  padding: 4% 0 2%;
}

#terms p:nth-child(2) {
  padding-bottom: 5%;
}

#terms p:nth-child(3) {
  padding-bottom: 5%;
}
