/* ============ Desktops ============ */

@media only screen and (min-width: 992px) {

  #background {
    width: 33%;
    height: 70%;
  }

  #desktop-icon {
    display: block;
    left: 4%;
    top: 18%;
    width: 40%;
    z-index: 3;
  }

  #desktop-content {
    display: inline-block;
    top: 0;
    left: 33%;
    width: 67%;
    height: 100%;
    background: #ccc;
    margin: 0;
    position: absolute;
    /*margin-left: 50px;*/
    z-index: 1;
    float: right;
  }

  #desktop-content:before {
    content:"";
    position:absolute;
    background: #ccc;
    top:0;
    left: -13%;
    bottom: 0;
    width: 25%;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: skew(-10deg);
}

  /*clean up*/
  .circle {
    display: none;
  }

  /*pseudoclass cleanup*/
  #white:before {
    display: none;
  }

  #white:after {
    display: none;
  }

  /*Header*/
  #logo a {
    width: 30%;
    top: 7%;
  }

  header>a {
    font-size: 100%;
    color: black;
    z-index: 2;
  }

  header>span {
    top: 6%;
    right: 2%;
    z-index: 2;
  }


  /*White section*/


  #white {
    z-index: 5;
    position: relative;
    top: 70%;

  }

  #white .header {
    margin: 0% 0% 2% 40%;
    font-size: 150%;
  }

  /*Crystal Palace*/
  #title p {
    margin: -2% 0 0 10%;
    padding: 0;
    font-size: 400%;
    line-height: 110%;
  }

  #title p:nth-child(1) {
    margin-left: 23%;
  }

  #title p:nth-child(2) {
    margin-left: 19%;
  }

  #title p:nth-child(3) {
    font-size: 400%;
    margin-top: -1.5%;
    margin-right: 7%;
  }


  /*Minimum Bets*/
  #details {
    margin-left: 35%;
    margin-right: 0;
    margin-top: 1%;
    margin-bottom: -1%;
    padding-left: 1%;
    width: 55%;
    display: block;
  }

  #details:after {
    content: "";
    background: red;
    height: 100%;
    position: absolute;
    top: 0;
    right: 10%;
    z-index: 5;
  }


  #details p {
    text-align: left;
    line-height: 100%;
    font-size: 120%;
    padding: 0;
  }


  #details p:first-child {
    margin: 2% 1% 1% 0.5%;
  }

  #details p:nth-child(2) {
    font-size: 120%;
    margin-bottom: 1%;
  }

  #details span {
    font-size: 70%;
  }

  /*Register Button*/
  #register {
    margin-bottom: 6%;
    position: relative;
  }

  #register input {
    width: 25%;
    margin: 1% 8% 2% 0;
  }

  #register button {
    font-size: 200%;
    width: 35%;
  }

  #register>p {
    color: #184e76;
    font-size: 75%;
    position: absolute;
    top: 27%;
    left: 35%;
  }

  /*list section*/
  #list {
    padding-bottom: 5%;
    padding-top: 2%;
    padding: 0;
  }

  #list ol {
    overflow: auto;
  }

  #list li {
    font-size: 100%;
    position: relative;
    /*left: -10%;*/
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 33%;
    float: left;
    background: red;
  }

  #list span {
    display: block;
  }

  #list li:first-child {}


  .custom-counter {
    margin: 0;
    padding: 0;
  }

  .custom-counter li::before {
    margin-right: 0;
    font-size: 150%;
    padding: 1px 10px;
    border-radius: 50%;
    border: 2px solid #ffcd00;
    position: absolute;
    left: 40%;
    bottom: -30%;
  }


  /*Terms*/
  #terms {
    clear: both;
  }
}
